    * {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin-right: 15px;
    margin-left: 15px;
}

.box-sm {
    width: 200px;
    height: 100px;
}

.box-md {
    width: 300px;
    height: 150px;
}

.box-lg {
    width: 500px;
    height: 250px;
}

.border {}

#yellow {
    background: yellow;
    margin: 20px 30px;
}

#red {
    background-color: red;
    padding: 5px;
    border: 5px solid black;
    margin: auto;
}

#blue {
    background-color: lightblue;
    margin: 20px 30px;
    padding: 10px;
